.auto{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
}
.form-group{
    width: 450px;
}
h1{
    text-align: center;
    margin-top: 50px;
}